#narwhal-body {
  animation: fill-narwhal-body 2s linear forwards;
  stroke-dasharray: 1981.415;
  stroke-dashoffset: 1981.415;
}

@keyframes fill-narwhal-body {
  0% {
    stroke-dashoffset: 1981.415;
  }

  70% {
    stroke-dashoffset: 0;
}

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-violet {
  animation: fill-violet 2s linear forwards;
  stroke-dasharray: 1917.692;
  stroke-dashoffset: 1917.692;
}

@keyframes fill-violet {

  0% {
    stroke-dashoffset: 1917.692;
  }

  70% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-indigo {
  animation: fill-indigo 2s linear forwards;
  stroke-dasharray: 1812.502;
  stroke-dashoffset: 1812.502;
}

@keyframes fill-indigo {

  0% {
    stroke-dashoffset: 1812.502;
  }

  70% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-blue {
  animation: fill-blue 2s linear forwards;
  stroke-dasharray: 1705.479;
  stroke-dashoffset: 1705.479;
}

@keyframes fill-blue {
  0% {
    stroke-dashoffset: 1705.479;
  }

  70% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 0;
  }

}


#rainbow-green {
  animation: fill-green 2s linear forwards;
  stroke-dasharray: 1596.043;
  stroke-dashoffset: 1596.043;
}

@keyframes fill-green {
  0% {
    stroke-dashoffset: 1596.043;
  }

  70% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-yellow {
  animation: fill-yellow 2s linear forwards;
  stroke-dasharray: 1483.352;
  stroke-dashoffset: 1483.352;
}

@keyframes fill-yellow {

  0% {
    stroke-dashoffset: 1483.352;
  }

  70% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-orange {
  animation: fill-orange 2s linear forwards;
  stroke-dasharray: 1366.26;
  stroke-dashoffset: 1366.26;
}

@keyframes fill-orange {

  0% {
    stroke-dashoffset: 1366.26;
  }

  70% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-red {
  animation: fill-red 2s linear forwards;
  stroke-dasharray: 1243.044;
  stroke-dashoffset: 1243.044;
}

@keyframes fill-red {

  0% {
    stroke-dashoffset: 1243.044;
  }

  70% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 0;
  }

}


#narwhal-eye {
  opacity: 0;
  animation: fade-in 2s linear forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }

}
